
div.page-head {
	text-align: left;
}

div.add-carnet-answer {
	text-align: left;
}


.carnet-title {
	border-spacing: 5px;
}

span.link {
	margin-right: 2%;
	text-align: left;
	vertical-align: top;
}

button.display-answer-preview-but {
	vertical-align: text-bottom;
}






