
div.page-head {
	text-align: left;
}

div.add-carnet-answer {
	text-align: left;
}


.carnet-title {
	border-spacing: 5px;
}

span.link {
	margin-right: 2%;
	text-align: left;
	vertical-align: top;
}

button.display-answer-preview-but {
	vertical-align: text-bottom;
}


div.question-content {
	margin-left: : auto;
	margin-right: auto;
	text-align: center;
	font-size: medium;
}

div.centered {
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}

button.display-answer-but {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.answer-content {
	margin-left: : auto;
	margin-right: auto;
	text-align: center;
	font-size: medium;
}

div.autoeval-form {
	text-align: center;
}




