{% extends "base.html" %}



{% block app_content %}
        
    	{% include 'interrogation/_question.html' %}
    
        {% include 'interrogation/_answer.html' %}

        {% if form %}
        <hr>
        <div class="autoeval-form">
	    	<form method="post">

		        {{ form.hidden_tag() }}
                {{ form.not_known() }}
                {{ form.not_enought() }}
                {{ form.known() }}
                {{ form.mastered() }}
		    </form>
        </div>
    	{% endif %}
{% endblock %}