
<p>
  <span class="link">
    <font size="+2"><b>Answers</b></font>
  </span>
  <span>
    <button class="display-answer-preview-but" onclick="display_answer()">Display</button>
  </span>
</p>

{% if addAnswerForm %}
<div class="add-carnet-answer">
	<h4>Add Answer</h3>
	<form action="" method="post" novalidate>
    {{ addAnswerForm.hidden_tag() }}
    <p>
      {{ addAnswerForm.text_content.label }}
      {{ addAnswerForm.text_content(size=32) }}
    	{{ addAnswerForm.submit() }}
    </p>
	</form>
</div>
{% endif %}

<div class="answers-preview">
  {% if inner_answers|length > 0 %}
    <div class="answers-preview-table" style="visibility: hidden; display: none">
      <table class="table table-hover">
        {% for a in inner_answers %}
      	  {% include '_answer_preview.html' %}
      	{% endfor %}
      </table>
    </div>
    
  <p class="info">{{inner_answers|length}} answers.</p>

  {% else %}
  <p class="info">No answers.</p>
  {% endif %}

</div>

{% block scripts %}
  <script> <!--toggle display-->
    function display_answer(){
      el = document.querySelector('.answers-preview-table');
      btn = document.querySelector(".display-answer-preview-but")

      if(el.style.visibility == 'hidden'){
        el.style.visibility = 'visible'
        el.style.display = 'block'
        btn.innerHTML = "Hide"
      }else{
        el.style.visibility = 'hidden'
        el.style.display = 'none'
        btn.innerHTML = "Display"
      }
    }
  </script>
{% endblock %}