
<div class="add-carnet-answer">
  <h4>Add Carnet</h4>
  {% if addCarnetForm %}
  	<form action="" method="post" novalidate>
      {{ addCarnetForm.hidden_tag() }}
      <p>
        {{ addCarnetForm.name.label }}
        {{ addCarnetForm.name(size=32) }}
      	{{ addCarnetForm.submit() }}
      </p>
  	</form>
  {% endif %}
</div>

  {% if inner_carnets|length > 0 %}

    <table class="table table-hover">
      {% for c in inner_carnets %}
  		    {% include '_carnet_preview.html' %}
  	  {% endfor %}
    </table>
  {% endif %}