
<html>
  
  <head>
    {% if title %}
    <title>{{ title }} - mind card</title>
    {% else %}
    <title>Welcome to mind card\)</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

  

  <body>
      <div class="nav-bar">
        \(\frac{mind}{card}\):
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('trash.trash') }}">Trash</a>
      </div>
      <hr>
      {% block content %}
      {% endblock %}
  </body>

  {% block scripts %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endblock %}
</html>
