{% extends "base.html" %}

{% block app_content %}

	{% if carnet.id_parent_carnet %}
		<a href="{{ url_for('main.carnet', id_carnet=carnet.id_parent_carnet) }}">Return to parent carnet</a>
	{% else %}
		<a href="{{ url_for('main.index') }}">Return to parent carnet</a>
	{% endif %}

	<div class="page-head">
		<h1>{{ carnet.name }}</h1>
	</div>

	<span class="link">
		<a href="{{ url_for('interrogation.interrogation', id_carnet=carnet.id) }}">Start Interrogation</a>
	</span>
	<span class="link">
		<a href="{{ url_for('latex.latex', id_carnet=carnet.id) }}">Download as Latex</a>
	</span>

	{% include '_inner_carnet_view.html' %}

	{% include '_inner_answers_view.html' %}

{% endblock %}