{% extends "base.html" %}



{% block content %}

	{% if carnet.id_parent_carnet %}
		<a href="{{ url_for('main.carnet', id_carnet=carnet.id_parent_carnet) }}">Return to parent carnet</a>
	{% else %}
		<a href="{{ url_for('main.index') }}">Return to parent carnet</a>
	{% endif %}

	<h1>
		{{ carnet.name }}
		<a href="{{ url_for('interrogation.interrogation', id_carnet=carnet.id) }}">Start Interrogation</a>
		<a href="{{ url_for('latex.latex', id_carnet=carnet.id) }}">Download as Latex</a>
	</h1>

	{% include '_inner_carnet_view.html' %}

	{% include '_inner_answers_view.html' %}

{% endblock %}