
{% extends "base.html" %}



{% block app_content %}
	
	<a href="{{ url_for('main.carnet', id_carnet=answer.id_carnet) }}">Return to carnet</a>
	
	<div style="text-align: center;">
		<h1>Answer: <b>{{answer.text_content}}</b></h1>
		{% if editAnswerForm %}
			<form action="" method="post" id="editAnswerForm" novalidate>
		        {{ editAnswerForm.hidden_tag() }}
		        <p>
		            {{ editAnswerForm.text_content.label }}
		            {{ editAnswerForm.text_content(size=128) }}
		        	{{ editAnswerForm.submit() }}
		        </p>
			</form>
		{% endif %}
	</div>

	<hr>

	<table class="table table-hover">
		<thead>
			<tr>
				<th colspan="3" style="text-align: center">
				<div>
				
				{% if addQuestionForm %}
					<form action="" method="post" novalidate>
			      {{ addQuestionForm.hidden_tag() }}
			      <p>
			      <big>Add Question</big>
			      	{{ addQuestionForm.content(size=32) }}
			        {{ addQuestionForm.submit() }}
			      </p>
					</form>
				{% endif %}
				</div>
				</th>
			</tr>
		</thead>
	
		<tbody>
		{% for q in answer.questions %}
			<tr>
				{% include '_question_preview.html' %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
{% endblock %}

